body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5; /* Set background color for body */
}

.header {
  background: linear-gradient(
    90deg,
    rgb(82, 179, 158) 0%,
    rgba(51, 51, 51, 0) 100%
  );
  color: white;
  padding: 2.5rem 0;
  text-align: center;
  font-size: 3.5rem;
  width: 100%;
  font-family: Amatic SC;
  font-weight: bold;
}
.header-content {
  display: flex;
  align-items: center; /* Align items at the bottom */
  justify-content: center;
}

.header-text {
  margin-left: 10px; /* Add some space between icon and text */
}

.header-icon {
  width: 60px; /* Set the desired width */
  height: auto; /* Maintain aspect ratio */
  filter: invert(100%);
  margin-right: 20px;
  vertical-align: middle;
}

.container {
  display: flex;
  height: 100%;
}

.sidebar {
  background-color: #f0f0f0;
  width: 200px;
  padding: 1rem;
}

.body {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0; /* Set background color */
  min-height: 100vh; /* Ensure it covers the entire viewport height */
  overflow-y: auto; /* Add vertical scrolling */
}

.post-form {
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem; /* Add margin between the post form and posts */
  width: calc(100% - 240px); /* Calculate the width to span from sidebar */
}

.post-card {
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
  margin-bottom: 1rem; /* Add margin between posts */
}

.post {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem; /* Add margin between posts */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
}

.post-title {
  color: rgb(82, 179, 158); /* Set the color of the post title */
  text-decoration: none; /* Underline the post title */
}

.post:last-child {
  margin-bottom: 0; /* Remove margin from the last post */
}
.post-author {
  color: grey;
  font-size: 11pt;
  text-decoration: underline;
}

.post-form label {
  display: block;
  margin-bottom: 0.5rem; /* Add spacing between form labels */
}

.post-form input,
.post-form textarea {
  width: 98%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid #ccc; /* Add border to input elements */
  border-radius: 4px;
}

.post-form textarea {
  resize: vertical; /* Allow vertical resizing of textarea */
}

.post-form button[type="submit"] {
  background-color: rgb(82, 179, 158); /* Standard color for the button */
  color: white; /* Text color */
  border: none; /* Remove border */
  padding: 0.5rem 1rem; /* Add padding */
  border-radius: 4px; /* Add border radius */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s ease; /* Add transition for smooth color change */
}

.post-form button[type="submit"]:hover {
  background-color: #66c1b3; /* New color on hover */
}

.sidebar {
  background-color: #f0f0f0;
  width: 200px;
  padding: 1rem;
}

.sidebar-button {
  display: flex;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: none;
  background-color: rgb(82, 179, 158); /* Standard blue color for buttons */
  color: white;
  text-align: center; /* Center the text horizontally */
  text-decoration: none; /* Remove default link underline */
  border-radius: 4px; /* Add some border radius to make them look like buttons */
  align-items: center;
  cursor: pointer;
}

.sidebar-button:hover {
  background-color: #66c1b3; /* Darker shade of blue on hover */
}

.sidebar button:first-child {
  margin-top: 0;
}
.sidebar-button:hover span {
  color: white; /* Ensure text remains white on hover */
}

.blank-profile-pic {
  margin-left: auto; /* Align to the right */
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  border-radius: 50%; /* Make it round */
  background-color: #ccc; /* Gray color for the blank profile picture */
}

.comment {
  position: relative; /* Set position to relative */
  border: 1px solid #ccc; /* Add a border around each comment */
  border-radius: 8px; /* Add border radius for rounded corners */
  padding: 5px; /* Add padding inside each comment */
  margin-bottom: 10px; /* Add some margin between comments */
  margin-top: 20px; /* Add some margin between comments */
  width: 90%;
  height: 80px;
}

.modify-btn {
  position: absolute; /* Position the modify button absolutely */
  top: 50px; /* Adjust the top offset */
  right: -130px; /* Adjust the right offset */
  background-color: rgb(82, 179, 158);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.comment p {
  margin-top: 30px; /* Add top margin to the comment content */
}
.create-comment {
  width: 100%;
}

.create-comment-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.textarea-section {
  width: 99%;
  display: flex;
}

textarea {
  flex: 1;
  width: 90%;
  height: 60px; /* Adjust height as needed */
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
.update-comment-field {
  margin-top: 30px;
}

.update-comment-btn {
  background-color: rgb(82, 179, 158); /* Red color for delete button */
  color: white; /* Text color */
  border: none; /* Remove border */
  padding: 0.5rem 1rem; /* Add padding */
  border-radius: 4px; /* Add border radius */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s ease; /* Add transition for smooth color change */
  align-self: flex-end;
  margin-left: 20px;
  margin-bottom: 25px;
}

.update-comment-btn:hover {
  background-color: #66c1b3; /* Darker shade of red on hover */
}

.modify-btn:hover {
  background-color: #66c1b3;
}

.send-button {
  align-self: flex-end;
  background-color: rgb(82, 179, 158);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 45px;
  width: 80px;
  margin-bottom: 20px;
}

.send-button:hover {
  background-color: #66c1b3;
}

.home-icon {
  width: 30px; /* Set the desired width */
  height: auto; /* Maintain aspect ratio */
  filter: invert(100%);
  margin-left: 15px;
}
.user-icon {
  width: 30px; /* Set the desired width */
  height: auto; /* Maintain aspect ratio */
  filter: invert(100%);
  margin-left: 15px;
}

.button-text {
  flex: 1; /* Allow text to take up remaining space */
  text-align: center; /* Center the text horizontally */
}

.delete-button {
  background-color: rgb(82, 179, 158); /* Red color for delete button */
  color: white; /* Text color */
  border: none; /* Remove border */
  padding: 0.5rem 1rem; /* Add padding */
  border-radius: 4px; /* Add border radius */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s ease; /* Add transition for smooth color change */
  align-self: flex-end;
  margin-right: 20px;
  margin-bottom: 25px;
}

.modify-post-button {
  background-color: rgb(82, 179, 158); /* Red color for delete button */
  color: white; /* Text color */
  border: none; /* Remove border */
  padding: 0.5rem 1rem; /* Add padding */
  border-radius: 4px; /* Add border radius */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s ease; /* Add transition for smooth color change */
  align-self: flex-end;
  margin-right: 20px;
  margin-bottom: 25px;
}

.delete-button:hover {
  background-color: #66c1b3; /* Darker shade of red on hover */
}

.horizontal-line {
  border: 0;
  height: 1px;
  background-color: #ccc; /* Adjust the color as needed */
  margin: 20px 0; /* Adjust the margin as needed */
}

.comment-author {
  color: grey;
  font-size: 11pt;
  text-decoration: underline;
  position: absolute; /* Set position absolute to position the author within the comment box */
  top: -10px;

  margin-bottom: 10px;
}

.post-title:hover,
.post-author:hover,
.comment-author:hover {
  color: #66c1b3; /* New color on hover */
}

.Update-profile-btn {
  align-self: flex-end;
  background-color: rgb(82, 179, 158);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 45px;
  width: 80px;
}

.profile-container {
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
  margin-bottom: 1rem; /* Add margin between posts */
}

.profile-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.profile-info label {
  display: block;
  margin-top: 15px;
}

.profile-info input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.Update-profile-btn:hover {
  background-color: #66c1b3;
}

.filter-form {
  margin-left: 10px;
}
